In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/Usuariosyconsumodeelectricidadpormunicipio_clean.csv", dtype={
    'Cve_Edo': 'string',
    'Cve_Inegi': 'string',
    'Cve_Mun': 'string',
    'Estado': 'string',
    'Municipio': 'string',
    'Tarifa': 'string',
    'Periodo': 'int64',
    'Usuarios': 'int64',
    'Consumo': 'float64',
    'ISO': 'string'
})
df.head()

,Cve_Edo,Cve_Inegi,Cve_Mun,Estado,Municipio,Tarifa,Periodo,Usuarios,Consumo,ISO
0,1,01,001,Aguascalientes,Aguascalientes,01,2010,231727,281228528.0,MX-AGU
1,1,01,001,Aguascalientes,Aguascalientes,1A,2010,0,0.0,MX-AGU
2,1,01,001,Aguascalientes,Aguascalientes,1B,2010,0,0.0,MX-AGU
3,1,01,001,Aguascalientes,Aguascalientes,1C,2010,0,0.0,MX-AGU
4,1,01,001,Aguascalientes,Aguascalientes,1D,2010,0,0.0,MX-AGU

In [3]:
df[["Usuarios", "Consumo"]].describe()

           Usuarios       Consumo
count  8.971200e+05  8.971200e+05
mean   2.051234e+03  1.119125e+07
std    1.332090e+05  6.758325e+08
min   -1.700000e+01 -1.052949e+09
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    4.220595e+07  2.180723e+11

In [4]:
df[df["Tarifa"] == "TOTAL"][["Estado", "Consumo", "Usuarios"]].groupby(by="Estado").mean().sort_values(by='Consumo', ascending=False)

                                      Consumo      Usuarios
Estado
Nacional                         2.067241e+11  3.807872e+07
Baja California                  3.268515e+09  3.919092e+05
Distrito Federal                 1.427837e+09  3.249195e+05
Baja California Sur              7.036383e+08  8.706942e+04
Quintana Roo                     7.003725e+08  9.430671e+04
Nuevo Leon                       6.668750e+08  6.645097e+04
Sinaloa                          6.586040e+08  1.046617e+05
Coahuila de Zaragoza             5.240549e+08  4.750115e+04
Queretaro                        4.976197e+08  7.099647e+04
Chihuahua                        4.864272e+08  5.170943e+04
Guanajuato                       4.654175e+08  7.865507e+04
Aguascalientes                   4.266025e+08  7.179954e+04
Tamaulipas                       3.992122e+08  5.553698e+04
Tabasco                          3.671847e+08  7.834147e+04
Colima                           3.135942e+08  5.106315e+04
Sonora                           2.818657e+08  2.709994e+04
Mexico                           2.793441e+08  6.650473e+04
Campeche                         2.107597e+08  4.695540e+04
Jalisco                          1.982421e+08  4.231314e+04
San Luis Potosi                  1.928094e+08  2.962020e+04
Morelos                          1.524720e+08  4.103754e+04
Durango                          1.509252e+08  2.572327e+04
Nayarit                          1.363002e+08  4.121415e+04
Michoacan de Ocampo              1.253185e+08  2.913885e+04
Veracruz de Ignacio de la Llave  1.006160e+08  2.411119e+04
Zacatecas                        9.059178e+07  1.929107e+04
Hidalgo                          8.637331e+07  2.085518e+04
Guerrero                         6.946046e+07  2.534982e+04
Puebla                           6.891969e+07  1.753450e+04
Yucatan                          6.141663e+07  1.362935e+04
Tlaxcala                         5.970486e+07  1.209322e+04
Chiapas                          4.874413e+07  2.390092e+04
Oaxaca                           8.956678e+06  4.584273e+03

In [5]:
df[df["Tarifa"] == "TOTAL"][["Estado", "Periodo", "Consumo", "Usuarios"]]\
.groupby(by=["Estado", "Periodo"]).sum().sort_values(by=["Estado", "Periodo"], ascending=True)

                             Consumo  Usuarios
Estado         Periodo
Aguascalientes 2010     4.412823e+09    779048
               2011     4.840320e+09    798514
               2012     4.936918e+09    826522
               2013     4.857048e+09    846640
               2014     5.257116e+09    869282
...                              ...       ...
Zacatecas      2013     5.691544e+09   1121424
               2014     5.787791e+09   1146600
               2015     4.930271e+09   1175716
               2016     4.517291e+09   1207694
               2017     4.530470e+09   1240594

[264 rows x 2 columns]

In [7]:
df[["Estado", "Municipio", "Consumo", "Usuarios"]].loc[(df["Estado"] == "Nuevo Leon") & (df["Tarifa"] == "TOTAL")]\
.groupby(by=["Estado", "Municipio"]).mean().sort_values(by='Consumo', ascending=False)

                                          Consumo     Usuarios
Estado     Municipio
Nuevo Leon Total Estatal             1.733875e+10  1727725.125
           Monterrey                 3.739255e+09   384214.000
           Apodaca                   2.722647e+09   189941.625
           San Nicolas de los Garza  2.403308e+09   140067.625
           Guadalupe                 1.823860e+09   219052.750
           Gral. Escobedo            1.093361e+09   122601.375
           Santa Catarina            9.779958e+08    84015.875
           San Pedro Garza Garcia    8.924826e+08    43957.375
           Cadereyta Jimenez         6.846704e+08    44982.250
           Garcia                    3.823986e+08    85165.500
           Cienega de Flores         3.662818e+08    16370.375
           Paras                     3.260024e+08      832.000
           Juarez                    2.721501e+08   104804.875
           Linares                   2.118885e+08    31865.375
           Carmen                    2.023677e+08    13945.250
           Montemorelos              1.798333e+08    30268.750
           Salinas Victoria          1.095972e+08    19619.125
           Pesqueria                 1.072726e+08    22046.250
           Santiago                  1.070704e+08    24209.250
           China                     1.034182e+08     5310.125
           Sabinas Hidalgo           1.000875e+08    16647.125
           Gral. Zuazua              9.899851e+07    19853.000
           Allende                   7.077381e+07    16304.750
           Galeana                   6.523407e+07    10867.750
           Anahuac                   3.960290e+07     6866.375
           Gral. Teran               3.300451e+07     6878.500
           Cerralvo                  2.875677e+07     4183.000
           Hidalgo                   2.336456e+07     6205.500
           Mina                      2.209661e+07     1967.250
           Dr. Arroyo                1.892507e+07     9946.625
           Aramberri                 1.684704e+07     3994.750
           Gral. Bravo               1.376916e+07     3057.625
           Los Ramones               1.203317e+07     4503.000
           Vallecillo                9.446782e+06     1653.875
           Lampazos de Naranjo       9.204462e+06     2701.250
           Agualeguas                7.897450e+06     2813.625
           Villaldama                7.352942e+06     2678.125
           Marin                     7.278812e+06     2415.125
           Bustamante                6.507002e+06     2562.250
           Abasolo                   6.484090e+06      891.000
           Dr. Gonzalez              5.016653e+06     1899.625
           Hualahuises               4.546019e+06     2302.250
           Los Herreras              4.328868e+06     1934.375
           Mier y Noriega            4.102142e+06     1790.750
           Los Aldamas               3.706007e+06     1399.750
           Dr. Coss                  2.902446e+06     1418.875
           Gral. Trevino             2.485161e+06     1142.875
           Higueras                  2.106064e+06      843.500
           Rayones                   1.549463e+06     1217.375
           Melchor Ocampo            1.538645e+06      794.625
           Iturbide                  1.479147e+06     1197.750
           Gral. Zaragoza            1.462638e+06     1523.125